<div class="entry">
  <% if nth_entry? %>
    <div class="variant-heading"><%= heading %></div>
  <% end %>

  <% offices.each do |office| %>
    <%= office.() %>
  <% end %>

  <% if vespers_from_following? %>
    <div class="vespers">
      <%= vespers %>
    </div>
    <% if compline_worth_mentioning? %>
      <div class="compline">
        <%= compline %>
      </div>
    <% end %>
  <% end %>
</div>
